

//ul.nav.nav-tabs
  li.active
    a(href='#performer-selection',data-toggle='tab') Selection 
      span.badge.badge-info 1
  li
    a(href='#performer-invitation',data-toggle='tab') Invitation 
      span.badge.badge-info 2

//.tab-content
  #performer-selection.tab-pane.active
    h3 Performer selection

    table.table.table-bordered.table-condensed.performer-list.data-table
      thead
        tr
          th id
          th Performer
          th.platform-name e-mail
          each platform in platforms
            th.platform-name= platform
      tbody.performer-list
        each performer in performers
          tr.performer
            td= performer.id
            td #{performer.name} #{performer.surname}
            td.platform-name.center
              if performer.email
                a.btn.btn-link
                  i.icon-ok

            each platform in platforms
              td.platform-name.center
                if performer.platforms[ platform ]
                  a.btn.btn-link
                    i.icon-ok



  #performer-invitation.tab-pane
    .strategy.task-strategy(id="strategy-invitation")
      h3 Performer invitation strategy
      .control-group
        label.control-label(for="invitation_strategy") Strategy 
          span.badge 1
        .controls
          select.strategy-name(id="invitation_strategy")
            option(selected) None
            each strategy in invitationStrategies
              option(
                data-strategy=strategy.name,
                data-params=JSON.stringify( strategy.params )
                )= strategy.name
      .param-container
        h4 Performer invitation strategy parameters 
          span.badge 3
        .param-list