extends layout

include includes/status

block append css
  :stylus
    .panel-title
      line-height 30px

block content
  if !executions
    .alert.alert-error
      h4 Error!
      | Something went terribly worng!
  else
    if executions.length>0
      each execution in executions
        
        - var format = function( date ) {
        -   return date? moment( date ).format( "dddd, MMMM Do YYYY, h:mm:ss a" ): date;
        - }
        
        .panel.panel-default
          .panel-heading
            .row
              .col-md-6
                h3.panel-title Execution 
                  mixin printStatus( execution.status )
                  small  #{execution._id}
              .col-md-6.text-right
                .btn-group
                  a.btn.btn-default.btn-small(href="job/#{execution.job}")
                    i.icon-chevron-left
                    |  Job
                  a.btn.btn-default.btn-small(href="task/#{execution.task}")
                    i.icon-chevron-left
                    |  Task
                  a.btn.btn-default.btn-small(href="microtask/#{execution.microtask}")
                    i.icon-chevron-left
                    |  Microtask
          .panel-body
            .row
              .col-md-6
                if execution.performer
                  p
                    tt: strong Performer: 
                    code= execution.performer.username
                p
                  tt: strong Platform: 
                  code= execution.platform.name
              .col-md-6
                p
                  tt: strong Opened: 
                  code= format( execution.creationDate )
                p
                  tt: strong Closed: 
                  code= format( execution.closedDate )
            h4 Annotations
            if execution.annotations.length>0
              ul
                each annotation in execution.annotations
                  li
                    span.label.label-info= annotation.operation.name
                    em= annotation.operation.label
                    if annotation.response
                      code= annotation.response
                    |  [
                    em= moment( annotation.creationDate ).from( execution.creationDate, true )
                    //em= format( annotation.creationDate )

                    |  after the execution creation]
                    |  for object 
                    a(href="object/#{annotation.object}")= annotation.object
            else
              .alert.alert-info
                h4 Info:
                p No annotation found
    else
      .alert.alert-info
        h4 Sorry :-(
        | No executions found...