extends layout

include includes/metadata
include includes/objects
include includes/status

block append css
  :stylus
    .delete i, .icon-lock
      color black

block header
  .page-header
    if !job
      h1 Error
    else
      span.pull-right
        tt  Status 
        mixin printStatus( job.status )
        br
        tt: em= job._id
      h1 #{job.name} 
        if job.alias
          small: a(href="#{csUrl}api/landing?alias=#{job.alias}", title="Run by alias")= job.alias


block content

  - var TASKS_LIMIT = 20;

  if !job
    .alert.alert-error
      h4 Error!
      | Invalid Job ID!
  else
    .row
      .col-md-6
        a.btn.btn-small.btn-default(href="#{baseUrl}task/new?job=#{job._id}") Add Task 
          i.icon-plus
      .col-md-6.text-right: .btn-group
        if !process.env.PRODUCTION
          button.btn.btn-small.btn-danger.delete(rel="job",href=job._id) Delete 
            i.icon-trash
          a.btn.btn-small.btn-primary(href="#{csUrl}api/landing?job=#{job._id}") Run job! 
            i.icon-play.icon-white
    hr

    .row
      .col-md-6
        h3 Strategies
        dl
          dt Task assignment strategy:
          dd= job.taskAssignmentStrategy.name
      .col-md-6
        mixin printMetadata( job.metadata )
    hr
    .row
      .col-md-6
        h3 Task list
        if job.tasks.length>0
          ol
            each task, index in job.tasks
              if index<TASKS_LIMIT
                li
                  mixin printStatus( task.status )
                  |  
                  a(href="task/#{task._id}")
                    if task.private
                      i.icon-lock
                    |  #{task.name}
              else if index===TASKS_LIMIT
                li: em ...and #{job.tasks.length-TASKS_LIMIT} more...
              else
                - break;
        else
          .alert.alert-info
            strong Info:
            | No tasks present...
      .col-md-6
        mixin printObjects( job.objects )