extends layout

include includes/metadata
include includes/operations
include includes/platforms
include includes/objects
include includes/status

block header
  .page-header
    if !microtask
      h1 Error
    else
      span.pull-right
        tt  Status 
        mixin printStatus( microtask.status )
        br
        tt: em= microtask._id
      h1 Microtask details 
        small created 
          em= moment( microtask.creationDate ).calendar()


block content
  if !microtask
    .alert.alert-error
      h4 Error!
      | Invalid Microtask ID!
  else
    .row
      .col-md-6: .btn-group
        a.btn.btn-info.btn-small(href="task/#{microtask.task}")
          i.icon-chevron-left
          |  Task
        a.btn.btn-small.btn-primary Microtask
      .col-md-6.text-right: .btn-group
        a.btn.btn-small.btn-success(href="answer?microtask=#{microtask._id}") Answers
        a.btn.btn-small.btn-primary(href="#{csUrl}api/run?microtask=#{microtask._id}") Run microtask! 
          i.icon-play.icon-white
    hr

    .row
      .col-md-4
        mixin printOperations( microtask.operations )
      .col-md-4
        mixin printPlatforms( microtask.platforms )
      .col-md-4
        mixin printMetadata( microtask.metadata )
    hr
    mixin printObjects( microtask.objects )